In [3]:
!ls

 01-LDAdefault.py		'05-perplexity .py'
 02-TopicModelingUCIDataset.py	 AssignmentTopicModeling.ipynb
 03-LDAwithHyperParameters.py	 Datasets
 04-OnlineLDA.py		 Topic-Modeling.ipynb

In [31]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation





df = pd.read_csv("Datasets/dataset2.csv")

In [32]:
df.head()

,Review,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Everything from the weather,staff,food,property,fire pits,d�cor,spa,rooms and beach were top notch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"The hotel it is fantastic built by the sea, li...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,One dream! Cozy and comfortable Hotel! The b...,since reception to the end of the stay! We we...,as I have gluten aversion,NaN,all the employees already knew and were waiti...,we were received in the fire pits,with some wine and all the guests were invite...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hotel concept is hard to grasp. They communica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,This is a wonderful hotel,for a romantic escape. Every room has a theme,and is incredible,overlooking the sea,the sustainable concept of the hotel is excel...,modern design,the staff and owners will make your stay memo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.columns

Index(['Review', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [34]:
data = df.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'])

In [42]:
data.Review[0]

' Everything from the weather'

In [43]:
XDocs = data.Review

In [45]:
## Embedding the vector
Tfidf = TfidfVectorizer()

MatrixX = Tfidf.fit_transform(XDocs)

In [46]:
MatrixX

<401x2176 sparse matrix of type '<class 'numpy.float64'>'
	with 10195 stored elements in Compressed Sparse Row format>

In [47]:
MatrixX.toarray

<bound method _cs_matrix.toarray of <401x2176 sparse matrix of type '<class 'numpy.float64'>'
	with 10195 stored elements in Compressed Sparse Row format>>

In [50]:
features = Tfidf.get_feature_names()

In [52]:
# features

In [61]:
Alt = LatentDirichletAllocation(n_components=20,random_state=0,max_iter=200,learning_method="online")

In [62]:
Alt.fit(MatrixX)

LatentDirichletAllocation(learning_method='online', max_iter=200,
                          n_components=20, random_state=0)

In [63]:
features = Tfidf.get_feature_names()
for tids, topic in enumerate(Alt.components_):
    print('topic ID: ', tids)
    print([features[i] for i in topic.argsort()[:-6:-1]])

topic ID:  0
['20', 'stars', 'architecture', 'to', 'congratulations']
topic ID:  1
['considering', 'entire', 'surely', 'terms', 'won']
topic ID:  2
['exceeded', 'expectations', 'rivals', 'world', 'yet']
topic ID:  3
['the', 'single', 'built', 'that', 'know']
topic ID:  4
['come', 'back', 'will', 'we', 'lot']
topic ID:  5
['the', 'we', 'and', 'to', 'for']
topic ID:  6
['location', 'great', 'we', 'the', 'weather']
topic ID:  7
['dear', 'all', 'excellent', 'restaurant', 'holdings']
topic ID:  8
['extraordinary', 'dear', 'especially', 'maria', 'enjoy']
topic ID:  9
['oxal', 'fabulous', 'atlantic', 'complements', 'home']
topic ID:  10
['what', 'heavenly', 'place', 'wonderful', 'fabulous']
topic ID:  11
['beautiful', 'thank', 'wonderful', 'place', 'you']
topic ID:  12
['dears', 'delicacy', 'pure', 'my', 'fantastic']
topic ID:  13
['focusing', 'room', 'the', 'creative', 'hospitable']
topic ID:  14
['dreamful', 'fruit', 'selection', 'fresh', 'place']
topic ID:  15
['nice', 'dream', 'the', 'all', 'thank']
topic ID:  16
['daniela', 'peaceful', 'general', 'in', 'to']
topic ID:  17
['love', 'with', 'we', 'place', 'of']
topic ID:  18
['pleasant', 'very', 'beautiful', 'magical', 'warm']
topic ID:  19
['very', 'special', 'anniversary', 'of', 'one']